<h1>Home_Page</h1>
<h2>Lists#index</h2>
<p>Find me in app/views/lists/index.html.erb</p>



 <ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>




<%= link_to "Add a new type", new_list_path, class:"btn btn-info" %>
