.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: solid black 1px;
  margin-bottom: 8px;
}

.list-linkto {
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color:rgb(126, 162, 70)
  ;
}
